  <tr class="cost-component">
    <td class="name">
        {{#if (gt indent 1)}}
          {{#repeat (add indent -1)}}
              <span>&nbsp;&nbsp;</span>
          {{/repeat}}
        {{/if}}
        {{#if (gt indent 0)}}
          <span class="arrow">&#8627;</span>
        {{/if}}
        {{costComponent.name}}
    </td>
    {{#if costComponent.monthlyCost}}
        <td class="monthly-quantity">{{costComponent.monthlyQuantity}}</td>
        <td class="unit">{{costComponent.unit}}</td>
        <td class="monthly-cost">{{formatPrice currency costComponent.monthlyCost}}</td>
    {{else}}
      <td colspan="3" class="usage-cost">Cost depends on usage: {{formatPrice currency costComponent.price}} per {{costComponent.unit}}</td>
    {{/if}}
  </tr>